<ion-tabs>

  <ion-tab-bar slot="bottom">
    <!-- <ion-tab-button tab="dashboard">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button> -->
    <ion-tab-button tab="prescription" style="">
      <ion-icon name="desktop-outline"></ion-icon>
      <ion-label>Prescription</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="scan">
      <ion-icon name="camera-outline"></ion-icon>
      <ion-label>Scan</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="logout()">
      <ion-icon name="power-outline"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
