<ion-header>
  <ion-toolbar>
    <ion-title>PRESCRIPTION</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let data of prescription; let i = index;">
      <ion-label (click)="loadView(data.id)">
        <h2>{{data.pharmacy_name}}</h2>
        <h3 slot="end">{{data.created_date  | date:'dd-MM-yyyy HH:mm'}}</h3>
        <p>{{data.first_name}} {{data.last_name}}</p>
      </ion-label>
    </ion-item>
    
  </ion-list>
</ion-content>
