<ion-header translucent>
  <ion-toolbar>
    <ion-thumbnail slot="end">
      <img src="../../assets/logo.png" style="max-width: 200%;width:90px;margin-left: -95px;">
    </ion-thumbnail>
    <ion-title>SCAN</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-content [fullscreen]="true"> 
  <ion-grid> 
    <ion-row>
      <ion-col class="delete-area" (click)="selectImageSource()">
          <ion-icon  name="add" color="medium"></ion-icon>
        <input
          type="file"
          #fileInput
          (change)="uploadFile($event)"
          hidden="true"
          accept="image/*"
        />
        <!-- <img src="{{images}}" style="padding: 10px;" /> -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>     
          <ion-input placeholder="First Name" id="firstname" name="firstname" type="text"></ion-input>
       </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-input placeholder="Last Name" id="lastname" name="lastname" type="text" ></ion-input>
       </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>     
          <ion-input placeholder="Medication Name" id="medicationname" name="medicationname" type="text"></ion-input>
       </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-input placeholder="Dose" id="dose" name="dose" type="text" ></ion-input>
       </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>     
          <ion-input placeholder="Rx Number" id="rx_number" name="rx_number" type="text"></ion-input>
       </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-input placeholder="Prescribed By" id="prescribedby" name="prescribedby" type="text" ></ion-input>
       </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <!-- (ionChange)="getSelectedOptionText($event)" -->
        <ion-select interface="popover" id="pharmacy_name" name="pharmacy_name" placeholder="Choose Pharmacy" >
          <ion-select-option *ngFor="let item of pharmacylist;let i = index;" value="{{i}}">{{item.name}}</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-label id="response"></ion-label>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button type="submit" size="small" (click)="uploadFileServer()" expand="block" style="font-weight: 900;">UPLOAD</ion-button> 
      </ion-col>
    </ion-row>
  </ion-grid> 
   
</ion-content>