

table{
    width:100%;
}
tr, td, th{
    border:2px solid rgb(145, 145, 160);
    text-align: center;
    padding: 5px;
}
.area {
    width: 95%;
    padding: 15px;
    margin: 15px;
    border: 1px solid #333;
    background: rgba(0,0,0,0.7);
}

#dropZone {
    border: 2px dashed #bbb;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font: 21pt bold arial;
    color: #bbb;
}

.drop-file-over{
  background: #333;
}
.delete-area {
    background: #4a4848;
    margin: 10px;
    height: 100px;
    ion-icon {
       font-size: 64px;
    }
    text-align: center;
    border: 5px dashed #cac7c7;
}

.upload-area{
    padding: 18px;
    margin-left: 90px;
    margin-right: 90px;
}
.button {
    --background: #8bc9f9;
}