.toolbar-container {
    background: #3880ff !important;
}
.toolbar-title-default{
    --min-height: 70px !important;
    height: 70px !important;
}
.header-height{
    --min-height: 30px !important;
    height: 30px !important;
}
.title-default{
    --min-height: 30px !important;
    height: 30px !important;
}
ion-col {
    padding-left: unset;
    padding-right: unset;
    padding-inline-start: var(--ion-grid-column-padding-xs, var(--ion-grid-column-padding, 0px));
    padding-inline-end: var(--ion-grid-column-padding-xs, var(--ion-grid-column-padding, 0px));
}
.header-responsive{height:260px;overflow:scroll;} 
.table-responsive{height:240px;overflow:scroll;} 
table thead tr{
    display:block;
}
table th,table td{
    width:100px;//fixed width
}
table  tbody{
  display:block;
  height:100px;
  overflow:auto;//set tbody to auto
}
ion-col > div {
    background-color: #f7f7f7;
    border: solid 10px #6f2424;
    padding: 50px;
    margin-left: 5px;
  }
thead tr:nth-child(1) th{background:  rgb(102, 3, 3); position: sticky;top: 0;z-index: 100;color:white;}
tbody tr td{ text-align:center; top: 0;max-height: 60px;overflow: auto;}
.totalbg{
    background-color: cadetblue;
}