<ion-header translucent>
  <ion-toolbar>    
    <ion-thumbnail slot="end">
      <img src="../../assets/logo.png" style="max-width: 200%;width:90px;margin-left: -95px;">
    </ion-thumbnail>
    <ion-title >MY PRESCRIPTION</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar (ionChange)="onSearchTerm($event)" placeholder="Search"></ion-searchbar>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let data of items;" >
      <ion-avatar slot="start">
        <img src="{{data.image_location}}">
      </ion-avatar>
      <ion-label>
        <h2>{{data.medicationname}} - {{data.dose}}</h2>
        <h3>{{data.rx_number}} {{data.prescribedby}}</h3>
        <h3>{{data.first_name}} {{data.last_name}}</h3>
        <p>{{data.created_date | date:'MMM dd yyyy'}}</p>
      </ion-label>
    </ion-item>
      
    </ion-list>
</ion-content>
