<ion-header translucent>
  <ion-toolbar>
    <ion-thumbnail slot="end">
      <img src="../../assets/logo.png" style="max-width: 200%;width:90px;margin-left: -95px;">
    </ion-thumbnail>
    <ion-title>PROFILE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
   <ion-item style="margin-top:10px;">     
      <ion-input placeholder="First Name" id="fname" name="firstname" type="text"></ion-input>
   </ion-item>
   <ion-item>
      <ion-input placeholder="Last Name" id="lname" name="lastname" type="text"></ion-input>
   </ion-item>
    <ion-item>
      <ion-input placeholder="Phone" id="phone" name="phone" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Email" id="email" name="email" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="DOB" id="dob" name="dob" type="text"></ion-input>
    </ion-item>  
</ion-content>
<ion-footer>
  <ion-button type="submit" (click)="updateProfile()" expand="block" style="font-weight: 900;">UPDATE</ion-button>
</ion-footer>
