 
<ion-content>
 
  <form (ngSubmit)="login()" [formGroup]="credentials">
    <div class="input-group logdiv">
        <img src="../../assets/logo.png">
    </div>
    <div class="input-group login-container">
      <ion-item>
        <ion-input type="email" placeholder="Email" formControlName="user"></ion-input>
      </ion-item>
      <div *ngIf="(user.dirty || user.touched) && user.errors" class="errors">
        <span *ngIf="user.errors?.required">Email is required</span>
        <span *ngIf="user.errors?.user">Email is invalid</span>
      </div>
      <ion-item>
        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      </ion-item>
      <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
        <span *ngIf="password.errors?.required">Password is required</span>
        <span *ngIf="password.errors?.minlength">Password needs to be 6 characters</span>
      </div>
    </div>
 
    <ion-button type="submit" expand="block" [disabled]="!credentials.valid" style="font-weight: 900;">LOGIN</ion-button>
    <ion-button type="button" expand="block" (click)="register()" fill="clear" style="color:blue;--background: #ffffff;">Not yet a member? Sign up!</ion-button>
    <!-- <ion-button type="button" expand="block" (click)="forgetPassword()" color="danger" fill="clear">Forget Password?</ion-button> -->
    
  </form>
</ion-content>