
.input-group {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
}
 
.errors {
    font-size: small;
    color: #fff;
    background: var(--ion-color-danger);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.logdiv{
    padding: 10px;
    text-align: center;
    background-color: transparent;
}
.login-container{
    padding: 10px;
    text-align: center;
}
.button {
    --background: #8bc9f9;
}