 
<ion-content>
 
  <form (ngSubmit)="registration()" [formGroup]="credentials">
    <div class="input-group logdiv">
        <img src="../../assets/logo.png">
    </div>
    <div class="input-group">
      <ion-item>
        <ion-input type="text" placeholder="Full Name" formControlName="fullname"></ion-input>
      </ion-item>
      <div *ngIf="(fullname.dirty || fullname.touched) && fullname.errors" class="errors">
        <span *ngIf="fullname.errors?.required">Full Name is required</span>
      </div>
      <ion-item>
        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
      <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
        <span *ngIf="email.errors?.required">Email is required</span>
        <span *ngIf="email.errors?.email">Email is invalid</span>
      </div>
      <ion-item>
        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      </ion-item>
      <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
        <span *ngIf="password.errors?.required">Password is required</span>
        <span *ngIf="password.errors?.minlength">Password needs to be 6 characters</span>
      </div>
      <ion-item>
        <ion-input type="password" placeholder="Confirm Password" formControlName="confirmpassword"></ion-input>
      </ion-item>
      <div *ngIf="(confirmpassword.dirty || confirmpassword.touched) && confirmpassword.errors" class="errors">
        <span *ngIf="confirmpassword.errors?.required">Password is required/ not matched</span>
        <span *ngIf="confirmpassword.errors?.minlength">Password needs to be 6 characters</span>
        <span *ngIf="confirmpassword.errors?.confirmedValidator">Password and Confirm Password must be match.</span>
      </div>
    </div>
 
    <ion-button type="submit" expand="block" [disabled]="!credentials.valid" style="font-weight: 900;">REGISTER</ion-button>
    <ion-button type="button" expand="block" (click)="loginback()" fill="clear" style="color:blue;--background: #ffffff;">I'm already member? Sign In!</ion-button>
    
  </form>
</ion-content>