 
<ion-content>
 
  <form (ngSubmit)="registration()" [formGroup]="credentials">
    <div class="input-group logdiv">
        <img src="../../assets/logo.png">
    </div>
    <div class="input-group">
      <ion-item>
        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
      <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
        <span *ngIf="email.errors?.required">Email is required</span>
        <span *ngIf="email.errors?.email">Email is invalid</span>
      </div>
    </div>
 
    <ion-button type="submit" expand="block" [disabled]="!credentials.valid">SUBMIT</ion-button>
    <ion-button type="button" expand="block" (click)="loginback()" color="light" fill="clear">Back to Login?</ion-button>
    
  </form>
</ion-content>