<ion-content>
  <ion-slides pager="true">
 
    <!-- Slide 1 -->
    <!-- <ion-slide>
      <ion-text color="light">
        <img src="../../../assets/logo.png">
        <ion-button (click)="next()" fill="outline" color="light">Get Start</ion-button>
      </ion-text>
    </ion-slide> -->
 
    <!-- Slide 2 -->
    <ion-slide>
      <ion-text color="light">
        <img src="../../../assets/logo.png">
        <ion-button (click)="start()" fill="outline" color="primary">GET STARTED</ion-button>
      </ion-text>
    </ion-slide>
 
  </ion-slides>
</ion-content>